name: Cache Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-096f80f

      - name: prime-cache-096f80f
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"
